/* --- CSS reset from --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

ol,
ul {
    padding-left: 1.5em;
    /*list-style: unset;*/
}

blockquote {
    border-left: 2px solid;
    padding-left: 1em;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    width: 100%;
}

th {
    border-bottom: 2px solid;
    font-weight: bold;
    text-align: left;
}

td {
    border-bottom: 1px solid #efefef;
}

caption,
th,
td {
    padding: 4px 10px 4px 0;
}

caption {
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 1em;
}

tr,
td,
th {
    vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last {
    padding-right: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:visited {
    color: inherit;
}

/* --------- end of reset --------- */

:root {
    --main-bg-color: #fffcf9;
    --main-fg-color: #333333;
    --border-color: #efefef;
    --border-emp-color: #ccc;

    --header-fg-color:  #323f4b;
    --header-bg-color: #ffffff;
    --header-border-color: #efefef;

    --sidebar-fg-color: #333333;
    --sidebar-bg-color: #ffffff;
    --sidebar-border-color: #efefef;

    --content-bg-color: #ffffff;
    --content-fg-color: #002b36;

    --editable-bg-color: #eecc6612;

    --card-shadow-color: #888888;
    --card-tag-bg-color: #f4de9b;
    --card-tag-fg-color: #907421;
    --card-tag-border-color: #ec6;

    --btn-success-bg-color: #2da562;
    --btn-success-fg-color: #ffffff;
}


hr {
    border: 0;
    border-bottom: 1px solid var(--border-color);
}

a {
    color: var(--content-fg-color);
}

body {
    color: var(--main-fg-color);
    background: var(--main-bg-color);
    font-size: 100%;
}

#app{
    max-width: 66em;
    margin: 1em auto;
    border-radius: 6px;
    box-shadow: 0 0px 7px -5px var(--card-shadow-color);
    border: 1px solid var(--border-color);
    background: var(--content-bg-color);
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#bar {
    border-bottom: 1px solid var(--header-border-color);
    border-radius: 6px 6px 0 0 ;
    position: sticky;
    top: 0;
    background-color: var(--header-bg-color);
    color: var(--header-fg-color);
    z-index: 1000;
    display: flex;
}
#bar .item {
    padding: 1em;
    color: var(--header-fg-color);
}
#bar .item.logo {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    font-weight: bold;
}

#search-bar {
    background: var(--sidebar-bg-color);
    border-radius: 6px 0 0 0;
    border-right: 1px solid var(--sidebar-border-color);
    position: sticky;
    top: 0;
    min-width: 20em;
    max-width: 20em;
    padding: 0 1em;
    overflow-x: auto;
    font-size: 80%;
}

#search-bar .item.search {
    font-family: inherit;
    outline: none;
    background-color: var(--content-bg-color);
    border: 1px solid var(--border-color);
    color: var(--content-fg-color);
    border-radius: 5em;
    display: block;
    text-decoration: none;
    font-size: inherit;
    padding: .5em 1em;
    margin: .5em;
    width: calc(100% - 3em);
}

#search-bar .item {
    padding: .5em 1em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
}
#search-bar .item span{
    padding-left: .5em;
}

/* This is for the svg icons to scale with size */
.bi {
    width: 1em;
    height: 1em;
}

#container {
    /* margin-bottom: 50vh; */
    min-height: 80vh;
    flex-grow: 1;
}

.todos h1 {
    font-weight: bold;
    margin: .5em 0;
}

.card,
.todos {
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    line-height: 1.5;
    color: var(--content-fg-color);
    padding: .5em 1em;
    /* to break long lines*/
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.card header {
    position: sticky;
    top: 0;
    background: var(--content-bg-color);
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: flex-end;
}

.card header .btns {
    padding: .5em;
    display: flex;
    align-items: center;
}

.card header .btn {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: .5em;
}

.card header .spacer {
    flex-grow: 1;
}

.card header .btn.save {
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    cursor: pointer;
    outline-offset: 0.4em;
    background: var(--btn-success-bg-color);
    color: var(--btn-success-fg-color);
    margin: .25em;
}

.card header .btn.cancel {
    text-decoration: underline;
}

.card .title {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    flex-grow: 1;
    font-size: 1.5em;
    text-align: center;
}

.card input.title,
.card input.item.tags {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 0;
    text-decoration: none;
    padding: .5em;
    background: var(--editable-bg-color);
    color: var(--editable-fg-color)
}

.card input.title {
    font-size: 1.5em;
    background: var(--editable-bg-color);
    margin: 0;
}

.card input.item.tags {
    /*border-bottom: 1px solid #eecc66ad;*/
    /*background: #eecc6647;*/
    background: var(--editable-bg-color);
    margin: .25em 0;
}

.card .tags {
    display: flex;
    padding: 0 .5em;
    margin: .25em;
    justify-content: center;
    text-align: center;
}

.card .tags .tag {
    background: var(--card-tag-bg-color);
    border: 1px solid var(--card-tag-border-color);
    margin: .25em;
    padding: .1em .25em;
    font-size: .7em;
    font-weight: bold;
    border-radius: .5em;
    color: var(--card-tag-fg-color);
    text-decoration: none;
}

.card .refs {
    margin: 1em;
}

.card .refs .label {
    font-weight: bold;
    margin-bottom: 1em;
}

.card .refs-content {
    padding: 1em;
    background: var(--editable-bg-color);
    border-radius: .5em;
    border: 1px solid var(--border-color);
}

.card .refs-content .ref {
    padding-bottom: 1em;
}

.card .refs-content .ref:last-child {
    padding-bottom: 0;
}

.card .refs-content h1 {
    font-weight: bold;
    margin-bottom: .5em;
}

.card .content,
.card .editor {
    flex-grow: 1;
    padding: 0 1em 1em;
}

.card .editor {
    font-size: 100%;
    tab-size: 4;
    background: var(--editable-bg-color);
}

.card .content pre,
.card .content code {
    padding: 1em;
    background: var(--editable-bg-color);
    border-radius: .5em;
    border: 1px solid var(--border-color);
    white-space: pre-wrap;
}

.card .content code {
    padding: .1em .2em;
    font-size: .9em;
}

.card .content pre>code {
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
}

.card .content h1,
.card .content h2,
.card .content h3,
.card .content h4,
.card .content h5,
.card .content h6 {
    font-weight: bold;
    margin: .5em 0;
}

.card .content h1 {
    font-size: 1.3em;
}

.card .content h2 {
    font-size: 1.2em;
}

.card .content h3 {
    font-size: 1.1em;
}

.card .content p {
    margin: 1em 0;
}

.card .content a {
    color: inherit;
}

.card-summary {
    display: flex;
    max-width: 44em;
    margin: 0 auto;
    background: var(--content-bg-color);
    border-bottom: 1px solid var(--border-emp-color);
    letter-spacing: normal;
    line-height: 1.5;
}

.card-summary .title {
    flex-grow: 1;
}

.card-summary .title,
.card-summary .btn {
    padding: 1em;
    text-decoration: none;
    color: inherit;
}

.card.config .field {
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.card.config .field input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 0;
    text-decoration: none;
    padding: .5em;
    background: var(--editable-bg-color);
    color: var(--content-fg-color);
}

.card.config .field label {
    flex-grow: 1;
    font-size: .8em
}

@media screen and (max-width: 800px) {
    #app {
        margin: 0;
        box-shadow: none;
        border: none;
    }
    #wrapper {
        flex-direction: column;
        margin: 0;
    }
    #search-bar {
        border-radius: 0;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        position: inherit;
        width: 100%;
        max-width: 100%;
        display: none;
    }
    .card {
        padding: 0;
        border-radius: 0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #323f4b;
        --main-fg-color: #cbd2d9;
        --border-color: #3e4c59;
        --border-emp-color: #3e4c59;

        --header-fg-color: #cbd2d9;
        --header-bg-color: #1f2933;
        --header-border-color: #3e4c59;
    
        --sidebar-fg-color: #cbd2d9;
        --sidebar-bg-color: #1f2933;
        --sidebar-border-color: #3e4c59;

        --content-bg-color: #1f2933;
        --content-fg-color: #cbd2d9;

        --editable-bg-color: #17222b;

        --card-shadow-color: #000000;
        --card-tag-bg-color: #323f4b;
        --card-tag-fg-color: #cbd2d9;
        ;
        --card-tag-border-color: #3e4c59;

        --btn-success-bg-color: #2da562;
        --btn-success-fg-color: #ffffff;
    }
}