/* --- CSS reset from --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
ol, ul {
    padding-left: 1.5em;
    /*list-style: unset;*/
}
blockquote {
    border-left: 2px solid;
    padding-left: 1em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    width: 100%;
}
th {
    border-bottom: 2px solid #efefef;
    font-weight: bold;
    text-align: left;
}
td { border-bottom: 1px solid #efefef; }
caption, th, td {
    padding: 4px 10px 4px 0;
}
caption {
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 1em;
}

tr,td,th {
    vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; } 

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	  line-height: 1.4em;
	  background: #eeeeee;
	  color: #333333;
}

#cardapp {
	  width: 44rem;
	  margin: 0 auto;
    margin-top: 1em;
}

#cardapp header {
    padding: 1em 0;
}

#cardapp h1 {
	  font-weight: bold;
	  text-align: center;
	  padding: 0 0 10px 0;
}

#cardapp input[type="text"], input.edit, #cardapp textarea{
    width: calc(100% - 2em);
    font-family: inherit;
    line-height: 1.4em;
    outline: none;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    display: block;
    padding: 1em;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 100%;
}

#cardapp input::-webkit-input-placeholder {
	  font-style: italic;
}

#main {
	  display: none;
}

#card-list {
	  padding: 1em 0;
	  list-style: none;
    background-color: #ebecf0;
}

#card-list .card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    display: block;
    padding: 1em;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

#card-list .card.done label {
	  color: #777777;
	  text-decoration: line-through;
}

#card-list .destroy {
	  position: absolute;
	  right: 5px;
	  top: 20px;
	  display: none;
	  cursor: pointer;
	  width: 20px;
	  height: 20px;
	  background: url(destroy.png) no-repeat;
}

#card-list .card:hover .destroy {
  	display: block;
}

#card-list .destroy:hover {
  	background-position: 0 -20px;
}

#card-list .card.editing {
	  border-bottom: none;
	  margin-top: -1px;
	  padding: 0;
}

#card-list .card.editing:last-child {
	  margin-bottom: -1px;
}

#card-list .card.editing .edit {
	  display: block;
}

#card-list .card.editing .view {
	  display: none;
}

#card-list .card .view label {
	  word-break: break-word;
    white-space: pre-wrap;
}

#card-list .card .edit {
	  display: none;
}

#cardapp footer {
	  display: none;
	  color: #555555;
	  border-top: 1px solid #ededed;
    padding: 1em 0;
}

#clear-completed {
	  float: right;
	  line-height: 20px;
	  text-decoration: none;
	  background: rgba(0, 0, 0, 0.1);
	  color: #555555;
	  margin-top: 8px;
	  margin-bottom: 8px;
	  padding: 0 10px 1px;
	  cursor: pointer;
	  -webkit-border-radius: 12px;
	  -moz-border-radius: 12px;
	  -ms-border-radius: 12px;
	  -o-border-radius: 12px;
	  border-radius: 12px;
	  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#clear-completed:hover {
	  background: rgba(0, 0, 0, 0.15);
	  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
	  position: relative;
	  top: 1px;
}

#card-count span {
	  font-weight: bold;
}

#instructions {
	  margin: 10px auto;
	  color: #777777;
	  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	  text-align: center;
}

#instructions a {
	  color: #336699;
}

#credits {
	  margin: 30px auto;
	  color: #999;
	  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	  text-align: center;
}

#credits a {
	  color: #888;
}
