/* --- CSS reset from --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
ol, ul {
    padding-left: 1.5em;
    /*list-style: unset;*/
}
blockquote {
    border-left: 2px solid;
    padding-left: 1em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    width: 100%;
}
th {
    border-bottom: 2px solid #efefef;
    font-weight: bold;
    text-align: left;
}
td { border-bottom: 1px solid #efefef; }
caption, th, td {
    padding: 4px 10px 4px 0;
}
caption {
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 1em;
}

tr,td,th {
    vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; }

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a:visited{
    color: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	  line-height: 1.4em;
	  color: #333333;
    background: #fffcf9;
}

#app {
    max-width: 44em;
    margin: 1em auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
    border-radius: 0.2em 0.2em 0 0;
}

.favs-list .fav {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    padding: 0 1em;
}
.favs-list .legend {
    border-top: 1px solid #eee;
    text-transform: uppercase;
    font-size: .8em;
    padding: 1em;
}
.fav a {
    padding: .5em;
    flex-grow: 1;
    text-decoration: none;
}

.search-col .header .view{
    padding: 1em;
    font-weight: bold;
}
.search-col .header .view span {
    padding-right: .5em;
}
.header {
    top: 0;
    background: #fff;
    position: sticky;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #ddd;
    line-height: 1;
}

.header a, .header span {
    padding: 1em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-right: 1px solid #eee;
}
.header .title {
    flex-grow: 1;
    border-right: none;
}

.search-bar {
    display: flex;
    align-items: center;
}
.search-bar .search {
    flex-grow: 1;
    font-family: inherit;
    outline: none;
    background-color: #fff;
    border: 1px solid #eeeeee;
    display: block;
    padding: .5em 1em;
    margin: 1em 0 1em 1em;
    text-decoration: none;
    font-size: 100%;
    border-radius: 2em;
}
.search-bar .save-icon {
    padding: 1em;
}
.new-card {
    width: calc(100% - 4em);
    font-family: inherit;
    outline: none;
    background-color: #fff;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: .5em 1em;
    margin: 1em;
    text-decoration: none;
    font-size: 100%;
}

.card-summary>a{
    margin: 0 1em;
    border-bottom: 1px solid #eee;
    padding: 1em;
    text-decoration: none;
    display: block;
    color: #333;
}


.card-detail-col .title, .card-detail-col .description, .card-detail-col .tags{
    padding: 1em;
}
.card-detail-col .edit{
    display: none;
}

.card-detail-col .edit .input{
    padding: 1em;
    margin: .5em;
    display: block;
    width: calc(100% - 3em);
    font-family: inherit;
    font-size: 100%;
    outline: none;
    text-decoration: none;
    border: 1px solid #ffedda;
    background-color: #fffbf3;
}
}

.card-detail-col .edit .description {
    height: auto;
}

.card-detail-col .view .description {
    white-space: pre-wrap;
}

.card-detail-col .title {
    font-weight: bold;
    padding-bottom: 0;
}

.card-detail-col .save-btn {
    background: #0079bf;
    color: #fff;
}

.card-detail-col .tags a {
    display: inline-block;
    padding: 0.16em 0.7em;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.2em;
    color: #000;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ec6;
    border-radius: 1em;
    text-decoration: none;
}

.favs-list .tags a {
    display: inline-block;
    padding: 0.16em 0.7em;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.2em;
    color: #000;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ec6;
    border-radius: 5px;
    border: 1px solid #debb52;
    text-decoration: none;
    margin: .2em;
}
.search-col h1 {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    text-align: right;
    font-weight: bold;
}
