/* --- CSS reset from --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
ol, ul {
    padding-left: 1.5em;
    /*list-style: unset;*/
}
blockquote {
    border-left: 2px solid;
    padding-left: 1em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    width: 100%;
}
th {
    border-bottom: 2px solid #efefef;
    font-weight: bold;
    text-align: left;
}
td { border-bottom: 1px solid #efefef; }
caption, th, td {
    padding: 4px 10px 4px 0;
}
caption {
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 1em;
}

tr,td,th {
    vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; }

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:visited{
    color: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*font-family: "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;*/
    color: #333333;
    /* background: #fffcf9; */
    /*font-size: 20px;*/
}
#container {
    max-width: 44em;
    margin: 0 auto;
}
.alert-bar {
    display: flex;
    margin-bottom: 1rem;
    color: #664d03;
    background-color: #fff3cd;
    border: 1px solid #ffecb5;
    border-radius: .25rem;
    position: fixed;
    top: .25em;
    margin: 0 auto;
    max-width: 44em;
    left: 0;
    right: 0;
}
.search-bar {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #eeeeee;
}
.search-bar .item , .alert-bar .item{
    padding: .5em;
    border: none;
    border-left: 1px solid #eee;
}
.alert-bar .item{
    border-color: #ffecb5;
}
.alert-bar .message {
    flex-grow: 1;
}
.search-bar .item:last-child {
    border-right: 1px solid #eee;
}
#search {
    flex-grow: 1;
    font-family: inherit;
    outline: none;
    background-color: #fff;
    border: none;
    border-left: 1px solid #eee;
    border-radius: 0;
    display: block;
    text-decoration: none;
    font-size: inherit;
}
#search-clear {
    cursor: default;
}
#sync-btn {
    cursor: default;
}

#container>div{
    max-width: 44em;
    margin: 0 auto;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}
.CodeMirror {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*font-family: "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;*/
    /*height: auto;*/
    /*height: calc(100vh - 3em);*/
    flex-grow: 1;
    line-height: 1.5;
}
.CodeMirror-cursor{
    border-color: red !important;
}
.CodeMirror-activeline-background {
    background: #e8f2ff;
}

.cm-s-default .cm-header {
    color: inherit;
    cursor: pointer;
}
.cm-s-default .cm-tag {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-s-default .cm-search {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.cm-s-default .cm-url {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-s-default .cm-task, .cm-s-default .cm-done-task {
    color: inherit;
    cursor: pointer;
    font-family: "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
.cm-s-default .cm-done {
    text-decoration: line-through;
    color: #999;
    cursor: pointer;
}

.cm-function {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-indent-guide {
    position: relative;
    border-left: 1px dotted #bbb;
}
.CodeMirror-gutters {
    background: inherit;
    color: inherit;
    border: none;
}
.cm-tab {
    background-position: right;
    background-repeat: no-repeat;
    border-left: 1px solid #eee;
}
.CodeMirror-foldgutter-open:after {
    content: "\25CB";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25C9";
}

@media screen and (max-width: 800px) {
    #container>div{
        width: 100%;
    }
    .CodeMirror {
        padding: 1em;
    }
    .CodeMirror-foldgutter {
	padding-right: .25em;
    }
}

@media (prefers-color-scheme: dark) {
    body, .CodeMirror, #search{
        background: #000;
        color: #ccc;
    }
    .search-bar {
	      background: #000;
    }
    #search, .search-bar, .search-bar .item{
	      border-color: #333;
    }
    .search-bar .item:last-child {
	      border-color: #333;
    }
    .cm-indent-guide {
        border-color: #555;
    }
    .cm-tab {
	border-color: #333;
    }
    
    .CodeMirror-cursor{
	border-color: red !important;
    }
    .CodeMirror-activeline-background {
	background: #222;
    }
    .cm-s-default .cm-task {
	border-color: #555;
    }
    .cm-s-default .cm-done {
	text-decoration: line-through;
	color: #555;
    }
}
